@font-face {
    font-family: 'Bhank';
    src: url('Bhank-Bold.woff2') format('woff2'),
        url('Bhank-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bhank';
    src: url('Bhank-Bold.woff2') format('woff2'),
        url('Bhank-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bhank';
    src: url('Bhank-Bold.woff2') format('woff2'),
        url('Bhank-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

