@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Onest", sans-serif;
    scroll-behavior: smooth;
}


.bhank {
    font-family: 'Bhank';
    font-weight: bold;
    font-style: normal;
}